/**
 * navbar override
 */
.navbar{ border-radius: 0px; }
.navbar-default{ background-color: #37bc9b; }
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #237F69;
}

/**
 * date picker override
 */
.datepicker-dropdown{ background-color: #fff; }

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 210px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 210px;
}


/*******************************************************************************
    AJAX WAITS

*******************************************************************************/
.ajax-wait{
    font-family: 'Oswald', sans-serif;
    color: #51bf87;
    display: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
}


/*******************************************************************************
    HERO WIDGETS

*******************************************************************************/
.hero-widget {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-widget .icon {
  display: block;
  font-size: 96px;
  line-height: 96px;
  margin-bottom: 10px;
  text-align: center;
}

.hero-widget .icon-sm {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 10px;

}

.hero-widget var {
  display: block;
  height: 64px;
  font-size: 64px;
  line-height: 64px;
  font-style: normal;
}

.hero-widget label {
  font-size: 17px;
}

.hero-widget .options {
  margin-top: 10px;
}

/*******************************************************************************
    CALENDAR

*******************************************************************************/
.date {
  font-size:48px;
  font-size:2rem;
  margin: 0 auto;
  background: #f8f8f8;
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0.1);
  text-align: center;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.month {
  padding: 2% 16%;
  background-color: #0bacd3;
  color: white;
}

.day {
  font-size: 68%;
  padding: 8% 16%;
}

/*******************************************************************************
    BILL PANEL

*******************************************************************************/
.bill-content .company{ font-size: 20px; font-weight: bold; }
.bill-content .amount{ font-size: 14px; font-style: italics; }
.bill-content .amount .dollar{ font-weight: bold; color: #51bf87; }

/*******************************************************************************
    LINE CHART (AWESOME UI KIT)
    http://bootsnipp.com/snippets/featured/awesome-ui-kit
*******************************************************************************/
#myLineChart {
    background-color: #51bf87;
    padding: 0px 5px;
    margin: 0px;
}
#myBarChart {
    margin-top: 10px;
}
#line-chart-widget .panel-heading {
    background-color: #51bf87;
    color: #fff;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#line-chart-widget .panel-heading small {
    color: #fff;
}
#line-chart-widget .panel-heading .label {
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
}
#line-chart-widget .panel-body {
    padding: 0px;
}
#line-chart-widget .panel-footer {
    background-color: #fff;
    padding: 20px;
    margin-top: 0px;
    border-top: none;
}
#line-chart-widget .panel-footer li {
    padding: 10px 0;
}
#line-chart-widget h3 {
    font-weight: 700;
    margin: 0px;
}
#line-chart-widget li {
    width:50%;
}
#line-chart-widget .legend li {
    background-color: #F5F0EC;
    padding: 20px 0;
}
#line-chart-widget .legend li:not(:first-child) {
    border-left: 1px solid #fff;
}
#line-chart-widget .chart-block>div {
    margin-top: 20px;
    width:55%;
}
#line-chart-widget .chart-block>div:last-child {
    padding-left: 15px;
    width:45%;
}
#line-chart-widget .chart-block .change {
    color:#fff;
    font-size: 1.6em;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    background-color: #55BC75;
    width:100%;
}
#line-chart-widget .chart-block .change i {
    font-size: .6em;
}